@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #f7f5f0;
  color: #0f172a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
